@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OsusTattoo.Models.ProductDetailsModel

<head>
    <style>
        .carousel-indicators button.thumbnail {
            width: 100px;
            height: auto;
        }

            .carousel-indicators button.thumbnail:not(.active) {
                opacity: 0.7;
            }

            .carousel-indicators button.thumbnail.active {
                border: thin;
                border-style: solid;
                border-color: #ED1C24;
            }

        .carousel-indicators {
            position: static;
        }

        @@media screen and (min-width: 992px) {
            .carousel {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    </style>
</head>

<div style="background-color: #ffffff;">
    <div class="container">
        <div class="col-sm-12 section-padding">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">All Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Red Dragon Cartridge</li>
                </ol>
            </nav>

        </div>

        <div class="row" style="width: 100%; margin: auto;">
            @*Product Details*@
            <div class="col-sm-6">
                <!-- Carousel wrapper (Limit Img Thumbnail to 5)-->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @{ int ctr = 0; }
                        @foreach (string img in Model.ListOfImages)
                        {
                            <div class="carousel-item @(ctr <= 0 ? "active" : "")">
                                <img src="@Href("~/" + Model.ImagePath + "/" + img)" class="d-block w-100" alt="...">
                            </div>

                            ctr++;
                        }
                    </div>
                    <div class="carousel-indicators">
                        @{ int ctr1 = 0; }

                        @foreach (string img in Model.ListOfImages)
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@ctr1" class="active thumbnail" @(ctr1 <= 0 ? "aria-current=\"true\"" : "") aria-label="Slide 1">
                                <img src="@Href("~/" + Model.ImagePath + "/" + img)" class="d-block w-100" alt="...">
                            </button>
                            ctr1++;
                        }
                    </div>
                </div>

                <br>
                <!-- Carousel wrapper -->
            </div>
            @*End Product Details*@

            @*Product Variations*@
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <h1 class="form-label" style="font-weight: bold;">
                                @Model.Name -
                                <label id="prodVariant">@Model.ProductionVariationList.Where(x => x.MakePrimary).FirstOrDefault().Variant</label>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <label id="prodOrigPrice" class="origPrice form-label label-origproductprice" style="font-size: x-large;" data-price="@Convert.ToDecimal(Model.ProductionVariationList.Where(x => x.MakePrimary).FirstOrDefault().Price)" data-dc="@Convert.ToDecimal(Model.ProductionVariationList.Where(x => x.MakePrimary).FirstOrDefault().Discount)"></label>
                            <label id="prodDCPrice" class="form-label dcPrice" style="color: #ED1C24; font-size: x-large;"></label>
                        </div>
                    </div>
                </div>

                @*HR*@
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <hr style="border-color: dimgray;" />
                        </div>
                    </div>
                </div>
                @*End HR*@
                @{
                    int tempCtr = 0;
                    decimal numerator = Model.ProductionVariationList.Count;
                    decimal denominator = 4;
                }
                @for (int i = 0; i < Model.ProductionVariationList.Count; i++)
                {
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                        @for (int j = tempCtr; j <= Model.ProductionVariationList.Count - 1; j++)
                        {
                            tempCtr = j;
                            <div class="col">
                                <div class="mb-3 variation prodVariationChoices">
                                    <label data-price="@Model.ProductionVariationList.ToList()[tempCtr].Price" data-dc="@Model.ProductionVariationList.ToList()[tempCtr].Discount">@Model.ProductionVariationList.ToList()[tempCtr].Variant</label>
                                </div>
                            </div>

                            if (i > 0)
                            {
                                if (i % 4 == 0)
                                {
                                    tempCtr = tempCtr + 1;
                                    break;
                                }
                            }
                            i++;
                        }
                    </div>
                }

                <br />
                <br />
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <div class="d-grid gap-2 spacing">
                                <button id="btnAddToCart" class="btn btn-outline-dark btn-outline-osus" type="button">Add to Cart</button>
                            </div>
                            <div class="d-grid gap-2 spacing">
                                <button class="btn btn-dark btn-outline-osus" type="button">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            @*End Product Variations*@
        </div>
    </div>

    <div class="section-padding" style="background: linear-gradient(355deg, rgba(81,12,15,1) 35%, rgba(143,10,16,1) 100%);">
        <div class="container">
            <div class="row justify-content-md-center" style="">
                <div class="col-sm-auto">
                    <h1><b style="font-weight: bold; color: #ffffff;">You may also like</b></h1>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

                <div class="col">
                    <div class="mb-3">
                        <img src="~/Content/image/samp-prod2.png" />
                        <div class="label-margin">
                            <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                            <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                            <label class="form-label label-productprice-light">₱ 279.00</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <img src="~/Content/image/samp-prod2.png" />
                        <div class="label-margin">
                            <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                            <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                            <label class="form-label label-productprice-light">₱ 279.00</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <img src="~/Content/image/samp-prod2.png" />
                        <div class="label-margin">
                            <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                            <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                            <label class="form-label label-productprice-light">₱ 279.00</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <img src="~/Content/image/samp-prod2.png" />
                        <div class="label-margin">
                            <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                            <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                            <label class="form-label label-productprice-light">₱ 279.00</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <img src="~/Content/image/samp-prod2.png" />
                        <div class="label-margin">
                            <label class="form-label label-productname text-white-bold">Red Dragon Cartridge 1 Box (20 pcs)</label>
                            <label class="origPrice label-origproductprice-white">₱ 279.00</label>
                            <label class="form-label label-productprice-light">₱ 279.00</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        initPriceChange();
        addToCart();
    });

    $(".mainBanner").css("display", "none");

    $(".prodVariationChoices").on("click", function () {
        $(".prodVariationChoices").removeAttr("data-focus style");
        $(this).attr("data-focus", "true").css({ "background-color": "#E1E1E1", "border": "#ED1C24", "border-style": "solid", "border-width": "thin", "padding": "10px 0px 10px 0px" });
        $("#prodVariant").text($(this).find("label").text());
        priceChanges($(this).find("label"));
    });

    function priceChanges(obj) {
        let origPrice = $(obj).data("price");
        let dcPrice = $(obj).data("dc");

        let origPriceEl = $("#prodOrigPrice");
        let dcPriceEl = $("#prodDCPrice");

        if (Number($(obj).data("dc")) <= 0) {
            origPriceEl.text("₱ " + Number(origPrice).toFixed(2)).css({ "text-decoration": "none", "color": "#000000", "font-size": "x-large" });
            dcPriceEl.css({ "display": "none" });
        } else {
            origPriceEl.text("₱ " + Number(origPrice).toFixed(2)).css({ "text-decoration": "line-through", "color": "#727070", "font-size": "x-large" });
            dcPriceEl.text("₱ " + (Number((origPrice * dcPrice) / 100)).toFixed(2)).css({ "display": "" });
        }
    }

    function initPriceChange() {
        let orig = $("#prodOrigPrice");
        let dc = $("#prodDCPrice");

        if (Number(orig.data("dc")) <= 0) {
            orig.text("₱ " + Number(orig.data("price")).toFixed(2)).css({ "text-decoration": "none", "color": "#000000", "font-size": "x-large" });
            dc.css({ "display": "none" });
        } else {
            orig.text("₱ " + Number(orig.data("price")).toFixed(2)).css({ "text-decoration": "line-through", "color": "#727070", "font-size": "x-large" });
            dc.text("₱ " + Number((orig.data("price") * orig.data("dc")) / 100).toFixed(2)).css({ "display": "" });
        }
    }

    function addToCart() {
        let data = {
            productId: 1
        };

        $("#btnAddToCart").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToCart", "Products")",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function () {
                
            })
            .fail(function () {
                
            })
            .always(function () {
                
            });
        });
    }
</script>