@using OsusTattoo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}


<div class="section-padding bg-white center">
    <main aria-labelledby="title">
        <center><h1 id="title">@ViewBag.Title</h1></center>
        <div class="row">
            <div class="col-md-6 center">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<h4>Use a local account to log in.</h4>
                            <hr />*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row spacing">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-field" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row spacing">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-field" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row spacing">
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <div class="col-md-4">
                                @* Enable this once you have account confirmation enabled for password reset functionality*@
                                @*<p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            </div>
                        </div>
                        <div class="row  spacing">
                            <div class="mb-1">
                                <div class="d-grid gap-2 spacing">
                                    <input type="submit" value="Log in" class="btn btn-primary-osus" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-1">
                                <div class="d-grid gap-2 spacing">
                                    <p class="center">
                                        @Html.ActionLink("Create an account", "Register")
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <section id="socialLoginForm">
                            </section>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </main>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
